<!doctype html>
<html lang="fr">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-91TT70T0SN"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-91TT70T0SN");
    </script>
    <meta
      name="google-site-verification"
      content="thNniMwrrV9jeY4SO-r1_gmF-AjJICP_D4oJ7Xa0Jss"
    />

    <!-- BASE -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO PRINCIPAL -->
    <title>Beauty Star | Onglerie & Beauté du Regard à Tarascon</title>

    <meta
      name="description"
      content="Beauty Star, institut de beauté à Tarascon spécialisé en onglerie et beauté du regard : pose gel, gainage, nail art, extensions de cils, volume russe, brow lift, pédicure et soins beauté. Réservez votre moment bien-être."
    />

    <meta
      name="keywords"
      content="Beauty Star, institut de beauté Tarascon, onglerie Tarascon, pose gel Tarascon, extension de cils Tarascon, volume russe Tarascon, cil à cil Tarascon, brow lift Tarascon, réhaussement de cils Tarascon, nail art Tarascon, pédicure Tarascon, beauté du regard, manucure gel, institut esthétique Tarascon"
    />

    <meta name="robots" content="index, follow" />
    <meta name="author" content="Beauty Star" />

    <!-- Canonical -->
    <link rel="canonical" href="https://www.beautystar.onrender.com/" />

    <!-- OPEN GRAPH (Facebook, LinkedIn…) -->
    <meta
      property="og:title"
      content="Beauty Star | Institut de Beauté à Tarascon"
    />
    <meta
      property="og:description"
      content="Onglerie & beauté du regard à Tarascon : pose gel, extensions de cils, brow lift, pédicure et soins beauté dans un institut moderne et professionnel."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.beautystar.onrender.com/" />
    <meta property="og:site_name" content="Beauty Star" />
    <meta property="og:locale" content="fr_FR" />
    <meta
      property="og:image"
      content="https://www.beautystar.onrender.com/static/images/bg-hero.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- TWITTER CARD -->

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Beauty Star | Onglerie & Beauté du Regard à Tarascon"
    />
    <meta
      name="twitter:description"
      content="Institut de beauté spécialisé en onglerie, extensions de cils et soins du regard à Tarascon."
    />
    <meta
      name="twitter:image"
      content="https://www.beautystar.onrender.com/static/images/bg-hero.png"
    />

    <!-- PWA -->
    <meta name="theme-color" content="#000" />
    <meta name="background-color" content="#ffffff" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Beauty Star" />

    <!-- Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link
      rel="icon"
      href="../static/images/logos-favicon/logo192.png"
      type="image/png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon"
      href="../static/images/logos-favicon/logo192.png"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/index.css" />

    <!-- Bootstrap icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/">
        <img
          src="../static/images/logo-beauty_star.png"
          class="logo"
          alt="Logo Beauty Star"
        />
      </a>

      <div class="icons-nav df aic">
        <a href="tel:+33629370257"> <i class="bi bi-phone-vibrate"></i></a>
        <i class="bi bi-list" id="openIcon"></i>
        <i class="bi bi-x-circle" id="closeIcon"></i>
      </div>

      <nav>
        <a href="/">Accueil</a>
        <a href="/#institut">L'institut</a>
        <a href="/#nos-prestations">Nos prestations</a>
        <a href="/#nos-realisations">Nos réalisations</a>
        <a href="/#contact">Contact</a>
        <a href="tel:+33629370257"><button>Réserver maintenant</button></a>
      </nav>
    </header>

    {% block main %}{% endblock %}

    <footer class="df aic fdc">
      <div class="links-social df aic">
        <a href="https://snapchat.com/@saraahh_303"
          ><i class="bi bi-snapchat"></i
        ></a>
        <a href="https://www.facebook.com/sarah.gabarri.58"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href="https://www.tiktok.com/@saraah_303"
          ><i class="bi bi-tiktok"></i
        ></a>
        <a href="https://www.instagram.com/beauty_starpo"
          ><i class="bi bi-instagram"></i
        ></a>
      </div>
      <div class="links-legal df aic">
        <a href="./mentions-legales">Mentions légales</a>
      </div>
      <p>
        ©2025 - <a href="/">BEAUTY STAR</a> - Site réalisé par
        <a href="https://olysweb.com" target="_blank" aria-label="OlysWeb"
          >OlysWeb</a
        >
        - Tous droits réservés.
      </p>
    </footer>

    <script src="../static/js/index.js"></script>
  </body>
</html>
