{% extends "layout.html" %}

<!-- MAIN -->
{% block main %}
<main class="homepage">
    <section class="title-page">
        <h1>Nos réalisations</h1>
    </section>

    <section id="nos-realisations" class="df fdc aic">
        <div class="container dg aic">
            {% for image in images %}
            <img
                src="{{ url_for('static', filename='images/galerie/' ~ image) }}"
                alt="Réalisation" />
            {% else %}
            <p>Aucune image disponible.</p>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
